@font-face {
  font-family: 'Garet';
  src: url('/assets/Fonts/Garet-Book.ttf') format('truetype'),
  url('/assets/Fonts/Garet-Book.woff') format('woff'),
  url('/assets/Fonts/Garet-Book.woff2') format('woff2')
}

html{
  font-family: "Garet", sans-serif;
  background-color: #0A2A43;
  color: whitesmoke;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

}

body{
  display: flex;
  flex-direction: column;

  button{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
}

a{
  color: white;
}

header{
  display: flex;
  flex-direction: row;

  #navbar-list{
    display: flex;
    flex-direction: row;

    .nav-items{
      margin-right: 50px;
      display: flex;
      flex-direction: column;
    }
}
}

footer{
  display: flex;
  flex-direction: row;
}